# Build
.next/
dist/
out/
.pnpm-store/

# Dependencies
node_modules/

# Tooling
.turbo/
*.tsbuildinfo

# Test
coverage/

# Env
.env
.env.local
.env.*.local

# OS / editor
.DS_Store
Thumbs.db

# Logs
*.log
.cache/